-- ===== TVP =====
CREATE TYPE dbo.PartSizeOrderType AS TABLE (
    SO NVARCHAR(100),
    PO NVARCHAR(100),
    MasterWorkOrder NVARCHAR(100),
    ART NVARCHAR(100),
    Model NVARCHAR(200),
    Factory NVARCHAR(50),
    LastNo NVARCHAR(100),
    ProductionProcess NVARCHAR(100),
    PartName NVARCHAR(200),
    PartId NVARCHAR(100),
    PartNameVI NVARCHAR(200),
    MaterialsID NVARCHAR(100),
    MaterialsName NVARCHAR(1000),
    Size NVARCHAR(50),
    SizeQty INT,
    UnitUsage FLOAT,
    Unit NVARCHAR(50),
    TargetCut INT,
    CreatedAt DATETIME NULL
);
GO

CREATE TYPE dbo.CuttingSyncRawDataType AS TABLE (
    SyncBatchID UNIQUEIDENTIFIER NOT NULL,
    Factory NVARCHAR(100) NULL,
    ART NVARCHAR(255) NULL,
    Model NVARCHAR(255) NULL,
    PO NVARCHAR(50) NULL,
    SO NVARCHAR(50) NULL,
    MasterWorkOrder NVARCHAR(100) NULL,
    Size NVARCHAR(50) NULL,
    PartId NVARCHAR(100) NULL,
    PartName NVARCHAR(200) NULL,
    PartNameVI NVARCHAR(200) NULL,
    MaterialsID NVARCHAR(100) NULL,
    MaterialsName NVARCHAR(1000) NULL,
    SizeQty INT NULL,
    Unit NVARCHAR(50) NULL,
    ProductionProcess NVARCHAR(50) NULL,
    Page NVARCHAR(50) NULL,
    LastNo NVARCHAR(100) NULL,
    UnitUsage FLOAT NULL,
    TargetCut INT NULL,
    SyncedBy NVARCHAR(100) NULL,
    CreatedAt DATETIME NULL
);
GO

-- ===== Upsert PartSizeOrderBulk =====
CREATE OR ALTER PROCEDURE dbo.UpsertPartSizeOrderBulk
    @Data dbo.PartSizeOrderType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- ===== Product =====
        MERGE Product AS tgt
        USING (
            SELECT ART, MAX(Model) AS Model
            FROM @Data
            WHERE ART IS NOT NULL
            GROUP BY ART
        ) AS src
        ON tgt.ART = src.ART
        WHEN MATCHED THEN 
            UPDATE SET Model = src.Model
        WHEN NOT MATCHED THEN 
            INSERT (ART, Model)
            VALUES (src.ART, src.Model);

        -- ===== Part =====
        ;WITH DedupedPart AS (
            SELECT *
            FROM (
                SELECT *,
                    ROW_NUMBER() OVER(
                        PARTITION BY PartId
                        ORDER BY PartNameVI DESC
                    ) AS rn
                FROM @Data
            ) t
            WHERE rn = 1
        )
        MERGE Part AS tgt
        USING (
            SELECT PartId AS PartCode, MAX(PartName) AS PartName, MAX(PartNameVI) AS VietnameseName
            FROM DedupedPart
            GROUP BY PartId
        ) AS src
        ON tgt.PartCode = src.PartCode
        WHEN MATCHED THEN 
            UPDATE SET VietnameseName = src.VietnameseName
        WHEN NOT MATCHED THEN 
            INSERT (PartName, PartCode, VietnameseName)
            VALUES (src.PartName, src.PartCode, src.VietnameseName);

        -- ===== Size =====
        MERGE Size AS tgt
        USING (
            SELECT DISTINCT Size
            FROM @Data
            WHERE Size IS NOT NULL
        ) AS src
        ON tgt.Size = src.Size
        WHEN NOT MATCHED THEN 
            INSERT (Size) VALUES (src.Size);

        -- ===== Material =====
        MERGE Material AS tgt
        USING (
            SELECT MaterialsID, MAX(MaterialsName) AS MaterialsName
            FROM @Data
            WHERE MaterialsID IS NOT NULL
            GROUP BY MaterialsID
        ) AS src
        ON tgt.MaterialCode = src.MaterialsID
        WHEN MATCHED THEN 
            UPDATE SET MaterialName = src.MaterialsName
        WHEN NOT MATCHED THEN 
            INSERT (MaterialCode, MaterialName)
            VALUES (src.MaterialsID, src.MaterialsName);

        -- ===== ProductOrder =====
        ;WITH DedupedProductOrder AS (
            SELECT *
            FROM (
                SELECT *,
                    ROW_NUMBER() OVER(
                        PARTITION BY SO, PO, MasterWorkOrder, ART
                        ORDER BY CreatedAt DESC
                    ) AS rn
                FROM @Data
            ) t
            WHERE rn = 1
        )
        MERGE ProductOrder AS tgt
        USING (
            SELECT 
                SO,
                PO,
                MasterWorkOrder,
                MAX(Factory) AS Factory,
                MAX(LastNo) AS LastNo,
                MAX(ProductionProcess) AS Process,
                p.ProductID,
                MAX(CreatedAt) AS CreatedAt
            FROM DedupedProductOrder d
            JOIN Product p ON p.ART = d.ART
            GROUP BY SO, PO, MasterWorkOrder, p.ProductID
        ) AS src
        ON tgt.SO = src.SO
           AND tgt.PO = src.PO
           AND tgt.MasterWorkOrder = src.MasterWorkOrder
           AND tgt.ProductId = src.ProductID
        WHEN MATCHED THEN 
            UPDATE SET 
                Factory = src.Factory,
                LastNo = src.LastNo,
                Process = src.Process
        WHEN NOT MATCHED THEN 
            INSERT (SO, PO, MasterWorkOrder, ProductId, Factory, LastNo, Process, CreatedAt)
            VALUES (
                src.SO,
                src.PO,
                src.MasterWorkOrder,
                src.ProductID,
                src.Factory,
                src.LastNo,
                src.Process,
                ISNULL(src.CreatedAt, DATEADD(HOUR, 7, SYSUTCDATETIME()))
            );

        -- ===== PartSizeOrder =====
        ;WITH DedupedPartSizeOrder AS (
            SELECT *
            FROM (
                SELECT *,
                    ROW_NUMBER() OVER(
                        PARTITION BY PartId, SO, PO, MasterWorkOrder, Size
                        ORDER BY CreatedAt DESC
                    ) AS rn
                FROM @Data
            ) t
            WHERE rn = 1
        )
        MERGE PartSizeOrder AS tgt
        USING (
            SELECT 
                p.PartID,
                po.OrderID,
                s.SizeID,
                MAX(m.MaterialID) AS MaterialID,
                MAX(d.SizeQty) AS SizeQty,
                MAX(d.Unit) AS Unit,
                MAX(d.UnitUsage) AS UnitUsage,
                MAX(d.TargetCut) AS TargetCut,
                MAX(d.CreatedAt) AS CreatedAt
            FROM DedupedPartSizeOrder d
            JOIN Part p ON p.PartCode = d.PartId
            JOIN Product prod ON prod.ART = d.ART
            JOIN ProductOrder po ON po.SO = d.SO AND po.PO = d.PO 
                AND po.MasterWorkOrder = d.MasterWorkOrder 
                AND po.ProductId = prod.ProductID
            JOIN Size s ON s.Size = d.Size
            LEFT JOIN Material m ON m.MaterialCode = d.MaterialsID
            GROUP BY p.PartID, po.OrderID, s.SizeID
        ) AS src
        ON tgt.PartId = src.PartID AND tgt.OrderId = src.OrderID AND tgt.SizeId = src.SizeID
        WHEN MATCHED THEN 
            UPDATE SET 
                TargetCut = src.TargetCut,
                UnitUsage = src.UnitUsage
        WHEN NOT MATCHED THEN 
            INSERT (MaterialId, PartId, OrderId, SizeId, SizeQty, Unit, UnitUsage, TargetCut, CreatedAt)
            VALUES (
                src.MaterialID,
                src.PartID,
                src.OrderID,
                src.SizeID,
                src.SizeQty,
                src.Unit,
                src.UnitUsage,
                src.TargetCut,
                ISNULL(src.CreatedAt, DATEADD(HOUR, 7, SYSUTCDATETIME()))
            );

    END TRY
    BEGIN CATCH
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Bulk upsert failed: %s', 16, 1, @Err);
    END CATCH
END
GO

-- ===== UpsertRawBulk =====
CREATE OR ALTER PROCEDURE dbo.UpsertRawBulk
    @Data dbo.CuttingSyncRawDataType READONLY,
    @SyncedBy NVARCHAR(100) = 'system-auto'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @BatchID UNIQUEIDENTIFIER = NEWID();

    INSERT INTO dbo.CuttingSyncRawData (
        SyncBatchID,
        Factory,
        ART,
        Model,
        PO,
        SO,
        MasterWorkOrder,
        Size,
        PartId,
        PartName,
        PartNameVI,
        MaterialsID,
        MaterialsName,
        SizeQty,
        Unit,
        ProductionProcess,
        Page,
        LastNo,
        UnitUsage,
        TargetCut,
        SyncedBy,
        CreatedAt
    )
    SELECT
        @BatchID,
        Factory,
        ART,
        Model,
        PO,
        SO,
        MasterWorkOrder,
        Size,
        PartId,
        PartName,
        PartNameVI,
        MaterialsID,
        MaterialsName,
        SizeQty,
        Unit,
        ProductionProcess,
        NULL AS Page,
        LastNo,
        UnitUsage,
        TargetCut,
        @SyncedBy,
        ISNULL(CreatedAt, SYSDATETIMEOFFSET())
    FROM @Data;

    SELECT @BatchID AS BatchID;
END;
GO

-------
SELECT 
          po.OrderID,
          po.Factory,
          po.SO,
          po.PO,
          po.MasterWorkOrder,
          po.LastNo,
          po.Process,
          s.Size,
          s.SizeID,
          p.ART,
          p.Model,
          pso.SizeQty,
          pso.Unit AS PartSizeUnit,
          pso.UnitUsage,
          m.MaterialID,
          m.MaterialCode,
          m.MaterialName,
          m.Unit AS MaterialUnit,
          pa.PartId,
          pa.PartName,
          pa.VietnameseName,
          pa.PartCode,
          po.CreatedAt,
          po.UpdatedAt, 
		  pso.CreatedAt AS DATESIZE
      FROM Product p
      JOIN ProductOrder po ON p.ProductId = po.ProductId
      JOIN PartSizeOrder pso ON po.OrderID = pso.OrderID
      JOIN Part pa ON pso.PartId = pa.PartId
      JOIN Material m ON pso.MaterialID = m.MaterialID
      JOIN Size s ON pso.SizeId = s.SizeID
      LEFT JOIN DistributionData d ON pso.PartSizeOrderId = d.PartSizeOrderId
	  where CAST(pso.CreatedAt as date) = '2025-11-06'
	  order by pso.CreatedAt desc
